/BinaryClassificationOfInsuranceCrossSelling/Datasets/sample_submission.csv
/BinaryClassificationOfInsuranceCrossSelling/Datasets/test.csv
/BinaryClassificationOfInsuranceCrossSelling/Datasets/train.csv
/BinaryPredictionOfMushrooms/Datasets/train.csv
/BinaryPredictionOfMushrooms/Datasets/test.csv
/BinaryPredictionOfMushrooms/Datasets/sample_submission.csv