/BinaryClassificationOfInsuranceCrossSelling/Datasets/sample_submission.csv
/BinaryClassificationOfInsuranceCrossSelling/Datasets/test.csv
/BinaryClassificationOfInsuranceCrossSelling/Datasets/train.csv
/BinaryPredictionOfMushrooms/Datasets/train.csv
/BinaryPredictionOfMushrooms/Datasets/test.csv
/BinaryPredictionOfMushrooms/Datasets/sample_submission.csv
/RegressionWithAnInsuranceDataset/Dataset/train.csv
/RegressionWithAnInsuranceDataset/Dataset/test.csv
/RegressionWithAnInsuranceDataset/Dataset/sample_submission.csv